[Unit]
Description=direwolf - A TNC and aprs

[Service]
Type=forking
PIDFile=/var/run/direwolf/direwolf.pid

ExecStart=/etc/init.d/direwolf systemd-exec

ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target